{% extends 'tracker/trackerbase.html' %}

{% block content %}
<h1>You have successfully assign</h1>
   <style>
               a:hover {
               color: brown;
               font-size:120%;
              }

   </style>
   <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
   <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <div class="assignment">
        {% if assignment.created_date %}
            <div class="date">
                <h2>{{ assignment.created_date }}</h2>
                <h2>{{ assignment.admin }}</h2>
            </div>
        {% endif %}

        <div class="row" >
            <div class="col-md-3" style="text-align: center; font-size: 20px; ">
                <div class="row" style="margin-left: auto;padding: inherit;">
                    <p>{{ 'Edit: Only For User' }}</p>
                </div>
                <div class="row" style="text-align: -webkit-left;margin-left: inherit;padding: inherit;">
                     {% if user.is_authenticated %}
                     {% if user == assignment.admin %}
                     <th><a class="btn btn-default" href="{% url 'assignment_edit' pk=assignment.pk %}"><p>Edit User: <span class="glyphicon glyphicon-pencil"></span></p></a></th>
                     {% endif %}
                     {% endif %}
                </div>
            </div>

        </div>

        <!--<table tr style="width:100%">-->
    <!--<tr>-->
        <!--<th></th>-->
         <!--<th></h2></th>-->
    <!--</tr></table>-->

            <!--<table tr style="width:100%">-->
             <!--<tr>-->


             <!--</tr>-->
            <!--</table>-->
        <p>{{ assignment.text|linebreaksbr }}</p>
    </div>
{% endblock %}