<!-- templates/home.html -->
{% extends 'tracker/AllTrackerHomePage.html' %}

{% block title %}Home{% endblock %}

{% block content %}

<!--<div class="row" style="position: absolute; right: 15;">
  {% if user.is_authenticated %}

  <p><a style="color: #d7dc16; text-decoration: underline;font-size: 13px;letter-spacing: 1;" href="{% url 'logout' %}">Logout</a></p>
  <p><a style="color: #d7dc16; text-decoration: underline;font-size: 13px;letter-spacing: 1;" href="{% url 'password_change' %}">Change Password</a></p>
  <p><a style="color: #d7dc16; text-decoration: underline;font-size: 13px;letter-spacing: 1;" href="{% url 'tracker_list' %}">Tracker List</a></p>
  <p><a style="color: #d7dc16; text-decoration: underline;font-size: 13px;letter-spacing: 1;" href="{% url 'Calc_link' %}">Calculator Link</a></p>
    {% if user.username == 'SatyendraN' %}
    <p><a style="color: #d7dc16; text-decoration: underline;font-size: 13px;letter-spacing: 1;" href="{% url 'signup' %}">Sign Up</a></p>
    <p><a style="color: #d7dc16; text-decoration: underline;font-size: 13px;letter-spacing: 1;" href="{% url 'password_reset' %}">Password Reset</a></p>
  {% endif %}
  {% endif %}
</div>-->
<br />

<div class="row">
  {% if user.is_authenticated %}
  <p style="text-align: center;font-size: 8px;font-weight: bold;">
   <!-- <marquee direction="right"><h2>Hi {{ user.username }}!</h2></marquee>-->

</p>
  {% else %}
    <!--<p><a style="text-align: center;font-size: 25px;font-weight: bold;">You are not logged in</a></p>
    <a style="text-align: center;font-size: 25px;font-weight: bold;" href="{% url 'login' %}">login</a>-->
  <!--<p><a href="{% url 'signup' %}">SignUp</a></p>-->
{% endif %}
</div>


{% endblock %}