{% extends 'ericsson/ericssontrackerbase.html' %}

{% block content %}



<style>
.table-freeze-multi,
.table-freeze-multi-clone {
    table-layout: fixed;
    width: 100%;
    margin:auto;

}
.freeze-multi-scroll-wrapper {
    position: relative;
    clear: both;

}
.freeze-multi-scroll-table {}
.freeze-multi-scroll-table-head {
    width: 100%;
    position: relative;
    overflow: hidden;

}
.freeze-multi-scroll-table-head-inner {
    box-sizing: content-box;
}
.freeze-multi-scroll-table-body {
    position: relative;
    overflow: auto;
    width: 100%;

}
.freeze-multi-scroll-left {
    position: absolute;
    top: 0;
    left: 0;
    height: 1px;

}
.freeze-multi-scroll-left-head {
    position: relative;
    top: 0;
    left: 0;
    overflow: hidden;
}
.freeze-multi-scroll-left-body,
.freeze-multi-scroll-left-body-inner {
    position: relative;
    top: 0;
    left: 0;
    overflow: hidden;
}
.freeze-multi-scroll-left-body-inner {
    overflow-y: scroll;
}

.freezer-scrollbar-measure {
    width: 100px;
    height: 300px;
    overflow: scroll;
    position: absolute;
    top: -9999px;
    margin:auto;


}


</style>
<!-- JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js">
</script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
 integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous">
</script>


<script>
$(document).ready(function () {
/*
jQuery MultiFreezer - scrollable tables with freezed thead and (n) first columns.
(c) 2017 Jan Renner (http://janrenner.cz, jan.renner@gmail.com)
*/
$('.table-freeze-multi').each(function () {

    var table = $(this),
        scrollbarWidth = freezerGetScrollbarWidth();

    //prepare
    table.css({
        margin: 0
    }).addClass('table-freeze-multi-original').find('tfoot').remove();

    //wrap
    table.wrap('<div class="freeze-multi-scroll-wrapper" />');
    var wrapper = table.closest('.freeze-multi-scroll-wrapper');
    table.wrap('<div class="freeze-multi-scroll-table" />');
    table.wrap('<div class="freeze-multi-scroll-table-body" />');
    var scroller = wrapper.find('.freeze-multi-scroll-table-body');

    //layout
    var headblock = $('<div class="freeze-multi-scroll-table-head-inner" />');
    scroller.before($('<div class="freeze-multi-scroll-table-head" />').append(headblock));
    var topblock = $('<div class="freeze-multi-scroll-left-head" />');
    var leftblock = $('<div class="freeze-multi-scroll-left-body-inner" />');
    wrapper.append(
        $('<div class="freeze-multi-scroll-left" />')
            .append(topblock)
            .append($('<div class="freeze-multi-scroll-left-body" />').append(leftblock))
    );

		//cloning
    var clone = table.clone(true);
    clone.addClass('table-freeze-multi-clone').removeClass('table-freeze-multi-original');
    var colsNumber = table.data('colsNumber') || table.find('tbody tr:first th').length;
    //head
    var cloneHead = clone.clone(true);
    cloneHead.find('tbody').remove();
    headblock.append(cloneHead);
    //top
    var cloneTop = cloneHead.clone(true);
    topblock.append(cloneTop);
    //left
    var cloneLeft = clone.clone(true);
    cloneLeft.find('thead').remove();
    leftblock.append(cloneLeft);

		//sizing
    var scrollHeight = table.data('scrollHeight') || wrapper.parent().closest('*').height();
    var headerHeight = table.find('thead').height();
    var leftWidth = (function () {
        var w = 0;
        table.find('tbody tr:first > *').slice(0, colsNumber).each(function () {
            w = w + $(this).outerWidth();
        });
        return w + 1;
    }());
    wrapper.css('height', scrollHeight);
    scroller.css('max-height', scrollHeight - headblock.height());
    headblock.width(table.width()).css('padding-right', scrollbarWidth);
    leftblock.add(leftblock.parent()).height(scrollHeight - scrollbarWidth - headerHeight);
    leftblock.width(leftWidth + scrollbarWidth);
    wrapper.find('.freeze-multi-scroll-left').width(leftWidth);

    //postprocess
    wrapper.find('.table-freeze-multi-original thead').hide();

		//scrolling
    scroller.on('scroll', function () {
        var s = $(this),
            left = s.scrollLeft(),
            top = s.scrollTop();
        headblock.css('transform', 'translate(' + (-1 * left) + 'px, 0)');
        leftblock.scrollTop(top);
    });
    leftblock.on('mousewheel', false);

	});
});

// @see https://davidwalsh.name/detect-scrollbar-width
function freezerGetScrollbarWidth () {
    // Create the measurement node
    var scrollDiv = document.createElement("div");
    scrollDiv.className = "freezer-scrollbar-measure";
    document.body.appendChild(scrollDiv);

    // Get the scrollbar width
    var scrollbarWidth = scrollDiv.offsetWidth - scrollDiv.clientWidth;
    //console.warn(scrollbarWidth); // Mac: 15, Win: 17

    // Delete the DIV
    document.body.removeChild(scrollDiv);

    return scrollbarWidth;
}



</script>


<style>
/*common*/
#freezer-example { width: 1355px; max-height: 700px; overflow: hidden; margin:auto; background-color: white; }
#freezer-example .table th,#freezer-example .table td { white-space: normal; width: 130px; overflow: hidden; text-overflow: ellipsis; }
#freezer-example .table th { outline: 1px #696969;  }
#freezer-example .table thead th { outline: 1px #696969; background: beige;}
#freezer-example .table col { width:100px; }
</style>

<p style="text-align: center; font-size: 20px;color: black;">RSA Tracker
<a style="color: #0000A0;" class="download_link" href="{% url 'ericssonExportRsaTracker' %}">Export</a></p>


<div class="container" style="margin-top:50px;">
    <div class="row">
        <div class="col-sm-12">
</div></div></div>
<div class="row"><div class="col-sm-12">

<div id="freezer-example" style="margin:0;">

  <table class="table table-condensed table-freeze-multi table-bordered" style="font-size:11px; font-weight: bold; font-family: Arial; color:black;"
    data-scroll-height="500"
    data-cols-number=" " >
    <colgroup>
      <col>
      <col>
      <col>
      <col>
      <col>
      <col>
      <col>
      <col>
      <col>
      <col>
      <col>
      <col>
      <col>
      <col>
      <col>
      <col>
      <col>
      <col>
      <col>
      <col>
      <col>
      <col>
      <col>
      <col>
      <col>
      <col>
      <col>
      <col>
      <col>

    </colgroup>
      <thead>
        <tr>
            <th rowspan="4">System Date</th>
            <th rowspan="4">User Date</th>
            <th rowspan="4">User Name</th>
            <th rowspan="4">Assignee</th>
            <th rowspan="4">Cascade</th>
            <th rowspan="4">Market</th>
            <th rowspan="4">Technology</th>
            <th rowspan="4">eNB/BTS</th>
            <th rowspan="4">ENM</th>
            <th rowspan="4">LATP Complete Date</th>
            <th rowspan="4">MME Pool form Appian</th>
            <th rowspan="4">IP Adress OAM</th>
            <th rowspan="4">RSA Holdup Reason</th>
            <th rowspan="4">Site Last Logged in Date</th>
            <th rowspan="4">Volte Soft Launch</th>
            <th rowspan="4">Site Pre-Conditions</th>
            <th rowspan="4">Site Post-Conditions</th>
            <th rowspan="4">OAR Date</th>
            <th rowspan="4">OAC Date</th>
            <th rowspan="4">RSA Final STATUS</th>
            <th rowspan="4">Latest Software Version</th>
            <th rowspan="4">Sector/Site Unlock status</th>
            <th rowspan="4">LOCK/Unlock Remarks</th>
            <th rowspan="4">TVW available/actualized in SV</th>
            <th rowspan="4">TVW available in FMCC Database</th>
            <th rowspan="4">ACD Status</th>
            <th rowspan="4">TVW/ACD Notification sent to RSD</th>
            <th rowspan="4">Remarks to RSD</th>
            <th rowspan="4">RSD email ID</th>
            <th rowspan="4">Augment ID</th>


        </tr>
      </thead>
      {% for item in latest_tracker_list  %}
      <tbody>
        <tr>

             <th class="fixed-side" scope="col">{{item.created_date}}</th>
            <th class="fixed-side" scope="col">{{item.Date}}</th>
                {% if user == item.admin %}
                    <th class="fixed-side" scope="col"><a href="{% url 'tracker_edit1' pk=item.pk %}">{{item.admin}}</a></th>
                {% else %}
                    <th class="fixed-side" scope="col"><a href="{% url 'tracker_edit' pk=item.pk %}">{{item.admin}}</a></th>
                {% endif %}


                {% if user == item.admin %}
                    <th class="fixed-side" scope="col"><a href="{% url 'tracker_edit1' pk=item.pk %}">{{item.Assignee}}</a></th>
                {% else %}
                    <th class="fixed-side" scope="col"><a href="{% url 'tracker_edit' pk=item.pk %}">{{item.Assignee}}</a></th>
                {% endif %}

            <th >{{item.cascade}}</th>
            <td>{{item.Market}}</td>
            <th>{{item.Technology}}</th>
            <td>{{item.eNB}}</td>
            <td>{{item.ENM}}</td>
            <td>{{item.LATP_Date}}</td>

            <td>{{item.MME_Pool}}</td>
            <td>{{item.IP_OAM}}</td>
            <td>{{item.Remark}}</td>
            <td>{{item.RSA_Hold_Reason}}</td>
            <td>{{item.Site_Last_Logged_Date}}</td>
            <td>{{item.Volte_Soft_Launch}}</td>
            <td>{{item.Site_Pre_Status}}</td>
            <td>{{item.Site_Post_Status}}</td>
            <td>{{item.OAR_Date}}</td>
            <td>{{item.OAC_Date}}</td>
            <td>{{item.Final_RSA_Status}}</td>
            <td>{{item.Latest_Software_Version}}</td>
            <td>{{item.Site_Unlock_Status}}</td>
            <td>{{item.TVW_Available}}</td>
            <td>{{item.TVW_Available_FMCC_Database}}</td>
            <td>{{item.Acd_Status}}</td>

            <td>{{item.Notification_To_RSD}}</td>
            <td>{{item.TVW_Related_Remarks}}</td>
            <td>{{item.RSD_Airboss_Mail}}</td>
            <td>{{item.Augment_ID}}</td>




        </tr>
      </tbody>
      {% endfor %}
    </table>
  </div>
</div>
</div>
{% endblock %}
